<html>
  <head>
    <title>Ansible Template Demo</title>
  </head>
  <body>
    <h1>Hello from Ansible 😤🔥</h1>

    <p><b>Hostname:</b> {{ ansible_hostname }}</p>
    <p><b>IP Address:</b> {{ ansible_default_ipv4.address }}</p>
    <p><b>Environment:</b> {{ env }}</p>
  </body>
</html>
