@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary-color: #4A90E2;
    --acent-color: #007bff;
    --secondary-color: #E0E0E0;
    --text-color: #dcdcdc;
    --link-color: #2563eb;
    --background-color: #0a0a0a;
    --light-gray: #c8c2c2;
    --dark-gray: #262626;
    /* --light-gray: #6b6868; */
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
    background-color: var(--background-color);
    color: var(--text-color);
}
html{
    scroll-behavior: smooth;
}
#header {
    width: 100%;
    height: 100vh;
    background-image: url(cover-photo-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: right 200px top 100px; /* 20px from the right, 60px from the top */
    background-size: 20%; /* Adjust the size of the background image */
    padding: 20px; /* Space inside the container */
}

.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
    /* height: 100px; */
    /* object-fit: cover; */
    /* mix-blend-mode: color-burn; */
}
nav ul li {
    display: inline;
    list-style: none;
    margin:10px 20px;
}


nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -6px; /* Added 'px' */
    background-color: var(--primary-color);
    transition: width 0.3s ease; /* Adjusted duration for smoother effect */
}

nav ul li a:hover::after {
    width: 100%; /* Expands the underline */
}
/* //nav */

.header-text{
    margin-top: 120px;
    font-size: 35px;
}

.header-text h1{
    font-size: 70px;
    margin-top: 18px;
}

.header-text h1 span{
    color: var(--acent-color);
}
/* about */

#about{
    margin-top: 80px;
    color: var(--light-gray);
}
.rows{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-1{
    flex-basis: 35%;
}
.col-1 img{
    width: 80%;
    height: 90%;
    border-radius: 2rem;

}
.col-2{
    flex-basis: 60%;
}
.Subtitle{
    font-size: 20px;
    color: var(--secondary-color);
    font-weight: 500;
}
.col-2 p{
    font-size: larger;
}
.tab-titles{
    display: flex;
    margin: 20px 0px 40px;
    justify-content: space-around;
}
.tab-links{
    text-decoration: none;
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor:pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--primary-color);
    bottom: -6px;
    left: 0;
    position: absolute;
    transition: 0.3s ease-in-out;
}
.tab-links.active-links::after{
    width: 80%;
}
.tab-content ul li{
list-style: none;
font-size: 16px;
margin: 10px 0;
}
.tab-content ul li span{
    color: var(--link-color);
    font-size: 20px;
}
.tab-content{
    display: none;
}
.tab-content.active-tab{
    display: block;
}
/* Services */
#services{
    padding: 50px 0px;
}
.Services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
}
.Services-list div{
    background-color:var(--dark-gray);
    padding: 40px;
    border-radius: 1.2rem;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color);
    transition: transform 0.5s;
}
.Services-list div i{
    margin-bottom: 30px;
    font-size: 50px;
    margin-left:40px ;
}
.Services-list div h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}
.Services-list div a{
    text-decoration: none;
    color: #aba9a9;
    font-size: 15px;
    margin-top: 15px;
    display: inline-block;
}
.Services-list div:hover{
    color: #fff; /* White text for contrast */
    background-color: #007bff; /* Base color */
    opacity: 0.5;
    transition-duration: 0.3s ease;
    transform: translateY(-10px);
}
/* ------------Portfolio----------- */
#portfolio{
    padding: 50px 0px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;   
}
.work{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
}
.work img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit:contain;
    display: block;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #007bff);
    border: 10px;
    position: absolute;
    left: 0px;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    text-align: center;   
    transition: height 0.4s;
}
.layer h2{
    font-size: 35px;
    font-weight: 600;
    color: var(--secondary-color);
}
.layer a{
    margin-top: 20px;
    background-color: var(--text-color);
    border-radius: 50%;
    font-size: 18px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    text-decoration: none;
    text-align: center;
}
.work:hover img{
   transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    margin: 50px auto;
    display: block;
    width: fit-content;
    border: 2px solid var(--link-color);
    padding: 15px 50px;
    font-size: 18px;
    border-radius: 3px;
    transition: background-color 0.4s;
    cursor: pointer;
} 
.btn a{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 500;
} 
.btn:hover{
    background:var(--link-color);
}
/* Contact me */
.contact-left {
    flex-basis: 35%;
}
.contact-left p{
    margin-bottom: 20px;
    font-size: 20px;
}
.contact-left i{
    margin-right: 10px;
    color: var(--acent-color);
    font-size: 18px;
}
.social-icon{
    font-size: 30px;
}
.social-icon a i{
    text-decoration: none;
    font-size: 40px;
    margin-right:  20px;
    color: var(--text-color);
    display: inline-block;
    transform: 0.05s ease;
}
.social-icon a i:hover{
    color: var(--acent-color);
    transform:translateY(-5px) ;
}
.btn-1 {
    display: inline-block;
    background-color: var(--acent-color);
}
#btn-2{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
}
.contact-right {
    flex-basis: 60%;
}
.row{
    display: flex;
}
.contact-right form{
    width: 100%;
}
form input , form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: var(--dark-gray);
    padding: 20px;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid var(--link-color);
    color: var(--text-color);
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    padding: 20px;   
    background-color: var(--dark-gray);
    width: 100%;
    font-weight: 400;
}

#msg{
    color: var(--link-color);
    margin-top: -40px;
    display: block;

}
.copyright i{
    color: rgb(225, 11, 118);
}

/* nav */
nav .fa-solid{
    display: none;
}
/* meddia screen */
@media only screen and (max-width: 600px){
    #header {
       
        background-image: url(file-removebg-preview.png);
        background-repeat: no-repeat;
        background-position: right 20px top 120px; 
        background-size:50%; 
        /* padding: 20px; Space inside the container */ 
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header h1{
        font-size: 30px;
    }
    .header-text{
        margin-top: 100px;
        font-size: 20px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background-color: var(--link-color);
        position: fixed;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        top: 0;
        right: -200px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
    }
    .Subtitle{
        font-size: 40px;
    }
    .col-1, .col-2{
        flex-basis: 100%;
    }
    .col-1{
        margin-bottom: 30px;      
    }
    .col-2{
        font-size: 14px;
        }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }    
    .contact-left ,.contact-right{
        flex-basis: 100%;
    }
    .row{
        flex-direction: column;
    }
    .copyright{
        font-size: 14px;
    }
}


